<% if (student.attachedFilePath &&
student.attachedFilePath.length > 0) { %> <%
student.attachedFilePath.forEach(file => { %>
<h3><%= file.name %></h3>
<br />
<a href="<%= file.source %> ">Download</a>

<form
  action="/students/delete-attachment/<%= student.id %>__<%= file.source.split("/")[3] %>?_method=DELETE"
  method="POST"
>
  <button type="submit">Delete</button>
</form>
<br />
<br />

<% }) %> <% } %>