<header>
  <nav>
    <a href="/">Wereld Wijd</a>
    <ul>
      <li><a href="/students">Students</a></li>
      <li><a href="/students/new">Add Student</a></li>
      <li><a href="/dutch-classes">Dutch Classes</a></li>
      <li><a href="/dutch-classes/new">Add Dutch Class</a></li>
    </ul>
  </nav>
</header>
