<header>
  <nav>
    <ul>
      <a href="/"><li class="navbar-button">Home</li></a>
      <a href="/students"><li class="navbar-button">Students</li>
      <a href="/teachers"><li class="navbar-button">Teachers</li></a>
      <a href="/dutch-classes"><li class="navbar-button">Dutch Classes</li></a>
    </ul>
  </nav>
</header>
  