<header>
  <nav>
    <ul>
      <li class="navbar-button"><a href="/">Home</a></li>
      <li class="navbar-button"><a href="/students">Students</a></li>
      <!-- <li><a href="/students/new">Add Student</a></li> -->
      <li class="navbar-button"><a href="/teachers">Teachers</a></li>
      <!-- <li><a href="/teachers/new">Add Teacher</a></li> -->
      <li class="navbar-button"><a href="/dutch-classes">Dutch Classes</a></li>
      <!-- <li><a href="/dutch-classes/new">Add Dutch Class</a></li> -->
    </ul>
  </nav>
</header>
