<div class="students-container">
  <h2>Edit Student</h2>
  <form
    action="/students/<%= student.id %>?_method=PUT"
    method="POST"
    enctype="multipart/form-data"
  >
    <div><%- include('_form_fields.ejs') %></div>

    <div class="submit-button-container">
      <label class="upload-container">
        <input
          class="file-upload"
          type="file"
          name="attachedFile"
          multiple="multiple"
        />

        <img src="/icons/upload_attachemnt.png" width="30" />
      </label>
      <a class="link-button-light" href="/students/<%=student.id %>">Cancel</a>
      <button class="link-button" type="submit">Update</button>
    </div>
  </form>
</div>
<%- include('../partials/attachmentsContainer.ejs') %>
