<h2>profile page</h2>

<%= student.name %> <% if (student.attachedFilePath &&
student.attachedFilePath.length > 0) { %> <%
student.attachedFilePath.forEach(file => { %>
<h3><%= file.name %></h3>
<br />
<a href="<%= file.source %> ">Download</a>
<br />
<br />
<% }) %> <% } %>
