@import './variables.css';
@import './header.css';
@import './students.css';
@import './fonts.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1.1px;
}

:root {
  font-family: Montserrat;
}

body {
  max-width: 1200px;
  margin: auto;
  background-color: var(--color-powder);

  /* background-color: var(--color-background-dark); */
}

h1,
h2,
h3,
h4 {
  letter-spacing: 1.4px;
  color: var(--color-xiketic);
}

.container {
  display: flex;
  gap: 40px;
}

.inner-container {
  /* border: 2px solid blue; */
  width: 100%;
  height: 2000px;
  margin-top: 20px;
}

.link-button {
  padding: 10px;
  font-size: 16px;
  /* border: 1px solid var(--color-xiketic); */
  background-color: var(--color-orange);
  border-radius: 5px;
  color: var(--color-wheat);
  cursor: pointer;
  text-align: center;
  text-transform: unset;
  /* box-shadow: 0 0 5px 5px var(--color-wheat); */
}

.link-button:hover {
  /* background: #0b7dda;
  color: white; */
}

ul li {
  list-style-type: none;
  /* text-align: right; */
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.delete-button {
  /* padding: 0; */
  border: none;
  background: none;
  cursor: pointer;
}
