.navbar-container {
  width: 250px;
  background-color: var(--color-xiketic);
  /* color: var(--color-wheat); */
}

.navbar-container li {
  color: var(--color-wheat);
  /* border: 5px solid red; */
  padding: 10px 20px;
  border-radius: 5px 0 0 5px;
  margin: 0 0 0 10px;
}

/* .selected-navbar-option {
  background-color: var(--color-wheat);
  color: var(--color-xiketic);
} */

.navbar-container li:hover {
  background-color: var(--color-wheat);
}

.navbar-container li:hover a {
  color: var(--color-xiketic);
}

.navbar-container a {
  color: var(--color-wheat);
}

header {
  position: fixed;
  top: 50px;
  /* height: 100%; */
  /* border: 1px solid yellow; */
  /* margin: 0 auto; */
  /* width: min-content; */
}

header ul {
  /* display: flex; */
  /* flex-direction: column; */
  /* height: min-content; */
  /* justify-content: space-between; */
  /* border: 1px solid green; */
  /* width: 100%; */
}

header ul li {
  padding: 15px 20px;
}

.main {
  height: 2000px;
}
