h2 {
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}

form.search {
  max-width: 300px;
}

.search-black-icon {
  color: var(--color-wheat);
}

form.search::after {
  content: '';
  clear: both;
  display: table;
}
form.search input[type='text'] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--color-orange);
  float: left;
  width: 80%;
  background: var(--color-rose);
  border-radius: 5px 0 0 5px;
  /* text-transform: uppercase; */
  /* box-shadow: 0 0 5px 5px var(--color-wheat); */
  outline: none;
}

form.search input[type='text']:focus {
  background: var(--color-wheat);
}

::placeholder {
  color: var(--color-xiketic);
}

form.search button {
  /* box-shadow: 0 0 5px 5px var(--color-wheat); */
  float: left;
  width: 20%;
  padding: 10px;
  background-color: var(--color-orange);
  color: white;
  font-size: 16px;
  border: 1px solid var(--color-orange);
  border-left: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

form.search button:hover {
  /* background: #0b7dda; */
}

form.search::after {
  content: '';
  clear: both;
  display: table;
}

.students-navigation {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
}

.export-button-container {
  display: flex;
  justify-content: space-between;
}

/* student details */

.student-details {
  display: flex;
  flex-direction: row;
  gap: 30px;
  /* height: 550px; */
  /* border: 2px solid var(--color-orange); */
  /* background-color: var(--color-xiketic); */
  /* padding: 10px; */
}

.student-image-box {
  height: 600px;
  width: 200px;
  position: relative;
}

.student-image-box img {
  height: 250px;
  width: 200px;
  object-fit: cover;
  border-radius: 5px;
}

/* .filepond--root {
  position: absolute;
  top: 0;
  width: 100%;
  height: 250px;
  opacity: 0.8;
  background: transparent;
}

.filepond--root .filepond--drop-label {
  height: 250px;
} */

.filepond--credits {
  display: none;
}

.filepond--root > * {
  cursor: pointer;
}

.filepond--drop-label label {
  display: none !important;
}

.filepond--root .filepond--drop-label {
  background: transparent;
}

.filepond--drop-label:after {
  content: 'Drop Picture';
  border-radius: 5px;
  padding: 10px;
}

.student-details-box {
  flex-grow: 2;
  /* border: 1px solid blue; */
}

.input-box {
  /* padding: 10px; */
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}

.input-box label {
  /* padding-left: 10px; */
}

select,
textarea {
  border-width: 2px;
  border-style: inset;
}

.input-box input[type='text'],
.input-box select,
.input-box textarea {
  padding: 10px;
  border-radius: 5px;
}

.input-box input[type='date'] {
  padding: 9px 10px;
  border-radius: 5px;
}

.input-box select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.input-box textarea {
  resize: vertical;
}

.submit-button-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

/* .attachment-navigation input[type='file'] {
  
}

.attachment-navigation {
  width: 220px;
  font-size: 16px;

  
  border-radius: 5px;
  text-transform: unset;
} */

.file-upload {
  display: none;
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

::-webkit-file-upload-button {
  background-color: var(--color-rose);
  /* color: var(--color-wheat); */
  padding: 10px;
  outline: none;
}

/* .attachment-navigation input[type='button'] {
  color: blue;
}

.attachment-navigation input[type='file'] {
  color: red;
} */

.attachment-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
  gap: 20px;
  /* padding: 10px; */
}

.attached-files-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 30px;
}

.attached-file-box {
  border: 1px solid var(--color-rose);
  background-color: var(--color-rose);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  border-radius: 5px;
}

.attached-buttons {
  display: flex;
  gap: 10px;
  align-self: flex-end;
}

.attached-buttons-image {
  width: 20px;
}
