.students-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 30px;
}

h2 {
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}

form.search {
  max-width: 300px;
}

.search-black-icon {
  color: var(--color-wheat);
}

form.search::after {
  content: '';
  clear: both;
  display: table;
}
form.search input[type='text'] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--color-orange);
  float: left;
  width: 80%;
  background: var(--color-rose);
  border-radius: 5px 0 0 5px;
  /* text-transform: uppercase; */
  /* box-shadow: 0 0 5px 5px var(--color-wheat); */
  outline: none;
}

form.search input[type='text']:focus {
  background: var(--color-wheat);
}

::placeholder {
  color: var(--color-xiketic);
}

form.search button {
  /* box-shadow: 0 0 5px 5px var(--color-wheat); */
  float: left;
  width: 20%;
  padding: 10px;
  background-color: var(--color-orange);
  color: white;
  font-size: 16px;
  border: 1px solid var(--color-orange);
  border-left: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

form.search button:hover {
  /* background: #0b7dda; */
}

form.search::after {
  content: '';
  clear: both;
  display: table;
}

.students-navigation {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
}

/* Table styles */

.table-container {
  /* padding: 10px 20px; */
  /* background-color: var(--color-xiketic); */
  /* border-radius: 10px;s */
  color: var(--color-xiketic);
  height: 320px;
  overflow: auto;
}

#tableData {
  border-collapse: collapse;
  width: 100%;
}

#tableData th {
  padding: 15px 0;
  position: sticky;
  top: 0;
  background-color: var(--color-rose);
  /* text-align: left; */
  /* color: var(--color-wheat); */
}

#tableData th td {
  background-color: transparent;
}

#tableData td {
  padding: 5px 0;
  text-align: center;
  /* background-color: #0b7dda;
  border: 1px solid black; */
}

#tableData tbody tr {
  transition: 0.2s ease-in-out;
}

#tableData tbody tr:nth-child(even) {
  background-color: var(--color-rose);
}

#tableData tbody tr:nth-child(odd) {
  background-color: var(--color-wheat);
}

#tableData tbody tr:hover {
  background-color: var(--color-xiketic);
  color: var(--color-rose);
}

/* end table */

.export-button-container {
  display: flex;
  justify-content: space-between;
}

/* student details */

.student-details {
  display: flex;
  flex-direction: row;
  gap: 30px;
  /* border: 2px solid var(--color-orange); */
  /* background-color: var(--color-xiketic); */
  /* padding: 10px; */
}

.student-image-box {
  /* height: 600px; */
}

.student-image-box img {
  height: 250px;
  width: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.filepond--credits {
  display: none;
}

.filepond--root > * {
  cursor: pointer;
}

.filepond--drop-label label {
  display: none !important;
}

.filepond--drop-label:after {
  content: 'Drop Image';
  /* color: var(--color-wheat);
  background-color: var(--color-orange); */
  border-radius: 5px;
  padding: 10px;
}

.student-details-box {
  flex-grow: 2;
  /* border: 1px solid blue; */
}

.input-box {
  /* padding: 10px; */
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}

.input-box label {
  /* padding-left: 10px; */
}

select,
textarea {
  border-width: 2px;
  border-style: inset;
}

.input-box input[type='text'],
.input-box select,
.input-box input[type='date'],
.input-box textarea {
  padding: 10px;
  border-radius: 5px;
}

.input-box select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.input-box textarea {
  resize: vertical;
}

.edit-button-container {
  display: flex;

  justify-content: end;
  gap: 10px;
}

.attachment-navigation input[type='file'] {
  /* display: none; */
}

.attachment-navigation {
  width: 220px;
  font-size: 16px;
  /* padding: 10px; */
  /* background-color: var(--color-rose); */
  color: var(--color-orange);
  cursor: pointer;
  border-radius: 5px;
  text-transform: unset;
}

::-webkit-file-upload-button {
  background-color: var(--color-wheat);
  /* color: var(--color-wheat); */
  padding: 10px;
  outline: none;
}

/* .attachment-navigation input[type='button'] {
  color: blue;
}

.attachment-navigation input[type='file'] {
  color: red;
} */

/* .attachment-container {
  display: flex;
}

.attachments-box {
  display: flex;
  flex-direction: column;
} */
