.students-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 30px;
}

h2 {
  text-align: center;
}

form.search {
  max-width: 300px;
  /* width: 500px; */
  /* border: 10px solid blue; */
}

form.search input[type='text'] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  /* background: black;
  color: var(--color-dark); */
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.search-black-icon {
  color: black;
}

form.search button:hover {
  background: #0b7dda;
}

form.search button:hover .search-black-icon {
  color: white;
}

form.search::after {
  content: '';
  clear: both;
  display: table;
}
form.search input[type='text'] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--color-background-dark);
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background-color: var(--color-background-light);
  color: white;
  font-size: 16px;
  border: 1px solid var(--color-background-dark);
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

form.search::after {
  content: '';
  clear: both;
  display: table;
}

.students-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
