<h2>New Dutch Class</h2>
<form action="/dutch-classes" method="POST">
  <input type="text" name="name" />
  <select name="teacher">
    <option disabled selected value="null">- select teacher -</option>
    <% teachers.forEach(teacher => { %> <% if (teacher.id == teacher.dutchClass)
    { %>
    <option
      selected
      label="<%= teacher.name %>"
      value="<%= teacher.id %>"
    ></option>
    <% } else { %>
    <option label="<%= teacher.name %>" value="<%= teacher.id %>"></option>
    <% } %> <% }) %>
  </select>

  <a href="/dutch-classes">Cancel</a>
  <button type="submit">Create</button>
</form>
